* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto 1fr;
  grid-template-areas: 
    "main main main main main main main main main main main main"
    "footer footer footer footer footer footer footer footer footer footer footer footer";
  background: #114357;  /* fallback for old browsers */
  background: -webkit-radial-gradient(circle, #3d96b9, #114357);  /* Chrome 10-25, Safari 5.1-6 */
  background: radial-gradient(circle, #3d96b9, #114357); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Roboto Mono', monospace;
}

header {
  grid-area: header;
  text-align: center;
}

main {
  grid-area: main;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer {
  grid-area: footer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
}

#convertFrom {
  padding: 5.75px;
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 1px black;
  text-align: right;
}

#fromTemp, #toTemp {
  padding: 5px;
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: 1px 1px 1px black;
}

#toTemp {
  margin-bottom: 5vh;
}

#tempResult {
  min-width: 200px;
  max-width: fit-content;
  word-break: break-all;
  min-height: 200px;
  max-height: fit-content;
  border: 2px solid black;
  margin: 0 auto 0 auto;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

p {
  margin-top: 5vh;
  margin-bottom: 5vh;
  font-size: 2rem;
}

footer p {
  margin-top: 1vh;
  margin-bottom: 1vh;
  font-size: 2vh;
}

footer p em {
  color: hsl(184, 76%, 50%);
  font-style: italic;
}

/* Icons */
#icons {
  display: block;
  font-size: 5vh;
}

#icons a:link {
  color: black;
}

#icons a:visited {
  color: black;
}

#icons a:hover {
  color: hsl(184, 76%, 50%);
}

/* Idiom Box */
#idiom-div {
  border: 2px solid black;
  height: fit-content;
  position: absolute;
  right: 5px;
  top: 5px;
}

#idiom-div img {
  display: block;
  width: 5vh;
  height: auto;
  padding: 5px;
}

#pt-flag {
  border-top: 2px solid black;
}

#idiom-div img:hover {
  background-color: rgba(81, 156, 156);
}